# This project uses a GHC provisioned via nix.
# We need to use the rules_haskell nix toolchain accordingly:
build --host_platform=@rules_nixpkgs_core//platforms:host
run --host_platform=@rules_nixpkgs_core//platforms:host

# disable auto config, use cc toolchain from nixpkgs
build --repo_env=BAZEL_DO_NOT_DETECT_CPP_TOOLCHAIN=1
