# This project uses a GHC provisioned via nix.
# We need to use the rules_haskell nix toolchain accordingly:
build --host_platform=@rules_nixpkgs_core//platforms:host
run --host_platform=@rules_nixpkgs_core//platforms:host
